@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Russo+One&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: "Bebas Neue", sans-serif;
    color: #000;
}

#head {
    overflow: hidden;
    background-image: url(../images/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    font-size: 300%;
    margin-left: 30px;
    float: left;
    color: white;
}

#logo:hover {
    color: rgba(243, 184, 23, 0.8);
}

#menu {
    font-size: 170%;
}

#menu>li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: rgba(243, 184, 23, 0.8);
}

.active {
    border-bottom: 1px solid white;
}

/* menu navigation */

#menu,
#logo {
    line-height: 75px;
}

/* game area section */

#game-area {
    height: 775px;
    width: 100%;
    background-image: url(../images/background7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game-area h1 {
    font-size: 50px;
    color: #d4af37;
    font-family: "Russo One", sans-serif;
    text-align: center;
    margin-top: 30px;
}

#game-container {
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-board {
    font-size: 50px;
    color: #000;
    text-align: center;
    margin-top: 50px;
}

.score-board>li {
    list-style: none;
    display: inline;
    margin-right: 80px;
}

/*Rock, Paper, Scissors Options*/

.choices {
    text-align: center;
    margin-top: 30px;
}

.choices>li {
    list-style: none;
    display: inline;

}

.choices i {
    color: black;
    font-size: 700%;
    margin: 2%;
    padding: 3%;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.choices i:hover {
    color: rgba(243, 184, 23, 0.8);
}

#button-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    margin-top: 70px;
    border-radius: 10px;
    background-color: #d4af37;
    color: white;
    border-color: r#d4af37;
    transition: 200ms transform;
    font-size: 18px;
    font-family: "Zen Dots", sans-serif;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}



/* rules area section */

#rules-area {
    height: 775px;
    width: 100%;
    background-image: url(../images/background7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rule-of-game {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 20px;
}

#rule-of-game h1 {
    font-size: 50px;
    color: gold;
}

#rule-of-game h2 {
    font-size: 40px;
    color: white;
}

#rule-of-game p {
    font-size: 20px;
}

/* Footer */

footer {
    height: 150px;
    background-image: url(../images/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social {
    text-align: center;
}

.social>li {
    list-style: none;
    display: inline;

}

.social i {
    color: white;
    font-size: 200%;
    margin: 2%;
    padding: 1%;
}

.social i:hover {
    color: rgba(243, 184, 23, 0.8);
}

/* Media queries */

/*For larger to medium screens size from 1000px wide and down*/

@media screen and (max-width: 1000px) {

    footer {
        height: 180px;
    }


    .social i {
        padding: 5%;
    }

    #rule-of-game {
        padding: 50px
    }

    .score-board {
        font-size: 40px;
        margin-left: 60px;
    }
}



/*For larger to medium screens size from 770px wide and down*/

@media screen and (max-width: 770px) {

    .choices {
        margin-top: 30px;
    }

    #rules-area {
        height: 900px;
    }

    .social i {
        padding: 5%;
    }

}

/*For larger to medium screens size from 650px wide and down*/

@media screen and (max-width: 650px) {


    .social i {
        padding: 7%;
    }

    #game-area h1 {
        font-size: 45px;

    }

    .score-board {
        font-size: 30px;
    }

    .social i {
        padding: 7%;
    }

}

/*For larger to medium screens size from 550px wide and down*/

@media screen and (max-width: 550px) {
    .choices i {
        font-size: 600%
    }
}


/*For larger to medium screens size from 540px wide and down*/

@media screen and (max-width: 540px) {

    #menu li {
        margin-right: 30px;
    }

    .score-board {
        font-size: 25px;
    }
}


/*For larger to medium screens size from 495px wide and down*/

@media screen and (max-width: 495px) {

    #logo {
        font-size: 200%;
    }

    #game-area h1 {
        font-size: 35px;
    }

    .score-board {
        font-size: 25px;
        margin-left: 47px;
    }

    #gameboard {
        margin-left: 90px;
    }

    #rule-of-game h1 {
        font-size: 45px;
    }

    #rule-of-game h2 {
        font-size: 35px;
    }

}

/*For larger to medium screens size from 480px wide and down*/

@media screen and (max-width: 480px) {
    .choices i {
        font-size: 400%;
        margin: 2%;
        padding: 3%;

    }

    .score-board {
        margin-left: 50px;
    }
}

/*For larger to medium screens size from 440px wide and down*/

@media screen and (max-width: 440px) {

    #game-area h1 {
        font-size: 30px;
    }

    .container {
        margin-left: 10px;
    }

    .social i {
        padding: 10%;
    }

    #rule-of-game h1 {
        font-size: 40px;
    }

    #rule-of-game h2 {
        font-size: 30px;
    }


}

/*For larger to medium screens size from 425px wide and down*/

@media screen and (max-width: 425px) {

    #logo {
        font-size: 180%;
    }

    #menu {
        font-size: 150%;
    }

    #rules-area {
        height: 1000px;
    }

    #rule-of-game h1 {
        font-size: 50px;
    }

}

/*For larger to medium screens size from 410px wide and down*/

@media screen and (max-width: 410px) {

    #game-area h1 {
        font-size: 25px;
        margin-right: 20px;
    }

    .container {
        margin-left: 30px;
    }


}

/*For larger to medium screens size from 390px wide and down*/

@media screen and (max-width: 390px) {

    #menu {
        font-size: 120%;
    }

    #rule-of-game h1 {
        font-size: 45px;
    }

}

/*For larger to medium screens size from 350px wide and down*/

@media screen and (max-width: 355px) {

    #rules-area {
        height: 1100px;
    }

    #rule-of-game {
        padding: 40px;
    }

    .social i {
        padding: 9%;
    }

    .choices i {
        font-size: 300%;
        margin: 2%;
        padding: 3%;

    }
}

/*For larger to medium screens size from 335px wide and down*/

@media screen and (max-width: 335px) {

    #rule-of-game {
        padding: 30px;
    }

}

/*For larger to medium screens size from 320px wide and down*/

@media screen and (max-width: 320px) {

    #logo {
        font-size: 250%;
    }

    #menu {
        font-size: 150%;
    }

    #menu,
    #logo {
        line-height: 60px;
    }

    #menu>li {
        float: left;
        list-style-type: none;
        margin-left: 30px;
    }

    #game-area h1 {
        font-size: 35px;
    }

    .box {
        height: 125px;
        width: 124px;
    }

    footer {
        height: 150px;
    }

    .social i {
        padding: 7%;
    }

}